
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TallMountains</title>

    <script src="~/js/app.js">//this is loading our javascript file
    </script>

</head>

<body>
    <button onclick="findNameOfTallestMountain(mountains)">Click me for mountains</button>
    <button onclick="calcAverageProductPrice(products)">Click me for products</button>
    <button onclick="calcInventoryValue(inventory)">Click me for car stuff</button>
</body>

</html>
